<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - employeeDailyTaskRecorder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/employeeDailyTaskRecorder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .custom-badge {
            font-size: 16px;
            padding: 10px 20px;
            border-radius: 10px;
            width: 100px;
            text-align: center;
        }

        .badge-success {
            background-color: #D1E7DD;
        }

        .badge-danger {
            background-color: #F8D7DA;
        }

        .error {
            color: red;
        }

        }
    </style>
</head>
<body>
    <div style="height: 100vh; background-color: rgba(0, 0, 0, 0.7);z-index:99" class="position-fixed w-100 d-none" id="blurBox">
        <div class="position-relative d-flex h-100 w-100 justify-content-center align-items-center">
            <div id="addDataFormBox" class="position-absolute d-none p-4 bg-white w-50 rounded">
                <div class="d-flex justify-content-end">
                    <button id="closeAddPopUpBtn" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </button>
                </div>
                <p class="text-dark fw-bold fs-5">Today's Task</p>
                <form id="addTaskForm" method="post" class="w-100">
                    <textarea class="form-control" id="summernote" name="Task" rows="3"></textarea>
                    <p class="text-danger" id="emptyAddTaskInputFiled"></p>
                    <div class="d-flex justify-content-end">
                        <button id="addTodayTask" class="btn btn-success mt-3 w-25">Add</button>
                    </div>
                </form>
            </div>
            <div id="addUserDataFormBox" class="position-absolute d-none p-4 bg-white w-50 rounded">
                <div class="d-flex justify-content-end">
                    <button id="closeAddUserPopUpBtn" class="btn btn-danger mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </button>
                </div>
                <form id="addEmployeeForm" asp-controller="User" asp-action="addUser" method="post" class="w-100">
                    @if (TempData.ContainsKey("emailPresence"))
                    {
                        if (TempData["emailPresence"].ToString() == "True")
                        {
                            <div class="alert alert-danger" id="emailErrorMsg">
                                Email is already taken
                            </div>
                        }
                    }
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter Employee name" />
                    <p id="Name-error" class="error" for="name"></p>
                    <div class="row">
                        <div class="col-6">
                            <label class="mt-2">Email</label>
                            <input type="email" name="Email" class="form-control" placeholder="Enter Employee email" />
                            <p id="Email-error" class="error" for="Email"></p>
                        </div>
                        <div class="col-6">
                            <label class="mt-2">Contact Number</label>
                            <input type="text" name="ContactNumber" class="form-control" placeholder="Enter Employee number" />
                            <p id="ContactNumber-error" class="error" for="ContactNumber"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="mt-2">Gender</label>
                            <div class="d-flex w-100 pl-4 mt-2" style="gap: 40px">
                                <div>
                                    <input class="form-check-input"
                                           type="radio"
                                           name="Gender"
                                           id="Gender"
                                           value="1" />
                                    <label class="form-check-label">
                                        Male
                                    </label>
                                </div>
                                <div>
                                    <input class="form-check-input"
                                           type="radio"
                                           name="Gender"
                                           id="Gender"
                                           value="2" />
                                    <label class="form-check-label">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="mt-2">Address</label>
                            <input type="text" name="Address" class="form-control" placeholder="Enter Employee Address " />
                            <p id="Address-error" class="error" for="Address"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="mt-2">Current Stage</label>
                            <select name="EmpStage" class="form-control">
                                <option selected value="">Select a Employee Current Stage</option>
                                <option value="1">Intern</option>
                                <option value="2">Probation period(Trial)</option>
                                <option value="3">Contractual</option>
                            </select>
                            <p id="EmpStage-error" class="error" for="EmpStage"></p>
                        </div>
                        <div class="col-4">
                            <label class="mt-2">Type</label>
                            <select name="EmpType" class="form-control">
                                <option selected value="">Select a Employee Type</option>
                                <option value="1">Admin</option>
                                <option value="2">Employee</option>
                            </select>
                            <p id="EmpType-error" class="error" for="EmpType"></p>
                        </div>
                        <div class="col-4">
                            <label class="mt-2">Organization Role</label>
                            <select name="EmpRole" class="form-control">
                                <option selected value="">Select a Employee role</option>
                                <option value="1">Customer Support/QA</option>
                                <option value="2">Developer</option>
                                <option value="3">Admin</option>
                            </select>
                            <p id="EmpRole-error" class="error" for="EmpRole"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="mt-2">Join Date</label>
                            <input type="date" name="JoinDate" class="form-control" placeholder="Enter Employee Joining Date" />
                            <p id="Join-error" class="error" for="JoinDate"></p>
                        </div>
                        <div class="col-6">
                            <label class="mt-2">Current Stage Completion Date</label>
                            <input type="date" name="CurrentStageCompletionDate" class="form-control" placeholder="Enter Employee Completion Date" />
                            <p id="CurrentStageCompletionDate-error" class="error" for="CurrentStageCompletionDate"></p>
                        </div>
                    </div>

                    <label class="mt-2">Password</label>
                    <input type="password" name="Password" id="addDataPassword" class="form-control" placeholder="Enter Password " />
                    <p id="Password-error" class="error" for="Password"></p>
                    <div class="form-check mt-4">
                        <input type="checkbox" class="form-check-input " id="showAddDataPasswordCheckBox">
                        <label class="form-check-label" for="showAddDataPasswordCheckBox">Show Password</label>
                    </div>
                    <button id="addEmployee" type="submit" class="btn btn-success mt-3 w-100">Add</button>
                </form>
            </div>
            @foreach (var data in Model.TaskList)
            {
                <div id="editAdminTaskBox_@data.Id" class="position-absolute d-none p-4 bg-white w-50 rounded">
                    <div class="d-flex justify-content-end">
                        <button id="editAdminTaskBox_@data.Id" onclick="hideAdminEdit(this.id);" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                            </svg>
                        </button>
                    </div>
                    <p class="text-secondary fs-5">Update Today's Task</p>
                    <form asp-controller="UserTask" asp-action="editTask" method="post">
                        <input type="hidden" value="Admin" name="Type" />
                        <input hidden name="Id" value=@(data.Id) />
                        <label class="form-label">Task</label>
                        <textarea class="form-control" id="summernoteedit_@data.Id" name="Task" rows="3">@Html.Raw(data.Task)</textarea>
                        <div class="d-flex justify-content-end">

                            <button type="submit" class="btn btn-warning mt-3 w-25">Update</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <div class="container mb-4">
        <nav class="navbar bg-body-tertiary ">
            <div class="container-fluid border-bottom">
                <h2 style="color:#337CCF;font-weight:bolder">TASK<span style="color:#1450A3">TALLY</span></h2>
                <div class="d-flex justify-content-between">
                    <ul class=d-flex flex-grow-1">
                        <li class="nav-item fs-5" style="list-style:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="EmployeeCompletionStatus">Employee Completion Status</a>
                        </li>
                        <li class="nav-item fs-5" style="list-style:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Task</a>
                        </li>
                        <li class="nav-item fs-5" style="list-style:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Leave Request</a>
                        </li>
                        <li class="nav-item fs-5" style="list-style:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Employee</a>
                        </li>
                        <li class="nav-item fs-5" style="list-style:none">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
