@{
    Layout = null;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<div class="container-md">
    <div class="d-flex flex-column align-items-center w-100">
        <div class="w-25">
            <img class="w-100 h-100" src="/Img/ant.png" alt="">
        </div>
    <h2>OOPS! PAGE NOT FOUND</h2>
    <p>The page you requested could not be found</p>
    <a asp-controller="UserTask" asp-action="EmployeeTask" style="color:white;text-decoration:none">
             <button class="btn btn-success">
                Go To Home Page
             </button>
      </a>
    </div>
</div>
